{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('index') }}" method="post" class="mb-5">
    <div class="form-group row">
      <label for="start_year" class="col-sm-3 col-12 col-form-label">Starting Year</label>
      <div class="col-sm-9 col-12">
        <select class="form-control" id="start_year" name="start_year">
          <option value="" selected>Choose...</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="start_term" class="col-sm-3 col-12 col-form-label">Starting Term</label>
      <div class="col-sm-9 col-12">
        <select class="form-control" id="start_term" name="start_term">
          <option value="" selected>Choose...</option>
          <option>Fall</option>
          <option>Winter</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="end_year" class="col-sm-3 col-12 col-form-label">Ending Year</label>
      <div class="col-sm-9 col-12">
        <select class="form-control" id="end_year" name="end_year">
          <option value="" selected>Choose...</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="end_term" class="col-sm-3 col-12 col-form-label">Ending Term</label>
      <div class="col-sm-9 col-12">
        <select class="form-control" id="end_term" name="end_term">
          <option value="" selected>Choose...</option>
          <option>Fall</option>
          <option>Winter</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="keyword" class="col-sm-3 col-12 col-form-label">Keyword(s)</label>
      <div class="col-sm-9 col-12">
        <input type="text" class="form-control" id="keyword" placeholder="Enter your keywords here...">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary mt-3 px-5 col-sm-4 col-12 float-right">Search</button>
      </div>
    </div>
  </form>
{%- if course_data %}
  <h6 class="mb-5"><strong>Course Information Results</strong></h6>
  <table id="course_table" class="table table-striped table-bordered">
    <thead>
      <tr>
      {%- for header in course_data[0] %}
        <th>{{ header|safe }}</th>
      {%- endfor %}
      </tr>
    </thead>
    <tbody>
    {%- for row in course_data[1:] %}
      <tr>
      {%- for cell in row %}
        <td>{{ cell|safe }}</td>
      {%- endfor %}
      </tr>
    {%- endfor %}
    </tbody>
  </table>
{%- endif %}
{% endblock %}