{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('index') }}" method="post" class="mb-5" id="search">
  <div class="form-group row">
    <span class="col-2 col-form-label">Starting</span>
    <div class="col-5" style="padding-right: 5px;">
      <select class="form-control" id="start_term" name="start_term">
        <option value=""{% if not form_data.start_term %} selected{% endif %}>Term</option>
      {%- for term in terms %}
        <option{% if term == form_data.start_term %} selected{% endif %}>{{ term }}</option>
      {%- endfor %}
      </select>
    </div>
    <div class="col-5" style="padding-left: 5px;">
      <select class="form-control" id="start_year" name="start_year">
        <option value=""{% if not form_data.start_year %} selected{% endif %}>Year</option>
      {%- for year in years %}
        <option{% if year|string == form_data.start_year %} selected{% endif %}>{{ year }}</option>
      {%- endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <span class="col-2 col-form-label">Ending</span>
    <div class="col-5" style="padding-right: 5px;">
      <select class="form-control" id="end_term" name="end_term">
        <option value=""{% if not form_data.end_term %} selected{% endif %}>Term</option>
      {%- for term in terms %}
        <option{% if term == form_data.end_term %} selected{% endif %}>{{ term }}</option>
      {%- endfor %}
      </select>
    </div>
    <div class="col-5" style="padding-left: 5px;">
      <select class="form-control" id="end_year" name="end_year">
        <option value=""{% if not form_data.end_year %} selected{% endif %}>Year</option>
      {%- for year in years %}
        <option{% if year|string == form_data.end_year %} selected{% endif %}>{{ year }}</option>
      {%- endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="keyword" class="col-2 col-form-label">Keywords</label>
    <div class="col-10">
      <input type="text" class="form-control" id="keyword" name="keyword" {% if form_data.keyword %}value="{{ form_data.keyword }}" {% endif %}placeholder="Enter your keywords here...">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary mt-3 px-5 col-sm-3 col-12 float-right">Search</button>
    </div>
  </div>
</form>
{%- if course_data %}
  <h6 class="mb-5"><strong>Course Information Results</strong></h6>
  <table id="course_table" class="table table-striped table-bordered">
    <thead>
      <tr>
      {%- for header in course_data[0] %}
        <th>{{ header|safe }}</th>
      {%- endfor %}
      </tr>
    </thead>
    <tbody>
    {%- for row in course_data[1:] %}
      <tr data-id="{{ row[0]|string }}">
      {%- for cell in row %}
        <td>{{ cell|safe }}</td>
      {%- endfor %}
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- for name in ('session', 'assess') %}
    {%- if name == 'session' %}
      {%- set headers = session_h %}
      {%- set title = 'Session' %}
    {%- else  %}
      {%- set headers = assess_h %}
      {%- set title = 'Assessment' %}
    {%- endif %}
  <div id="{{ name }}_wrap" class="mt-5">
    <h6 class="mb-5"><strong>{{ title }} Information Results</strong><a href="" id="{{ name }}_btn" class="ml-3">show</a></h6>
    <table id="{{ name }}_table" class="table table-striped table-bordered d-none">
      <thead>
        <tr>
        {%- for header in headers %}
          <th>{{ header|safe }}</th>
        {%- endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  {%- endfor %}
  <div id="outcome_wrap" class="mt-5">
    <h6 class="mb-5"><strong>Course Outcomes</strong><a href="" id="outcome_btn" class="ml-3">show</a></h6>
    <table id="outcome_table" class="table table-striped table-bordered d-none">
      <thead>
        <tr>
          <th>CID</th>
          <th>Outcomes</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{%- endif %}
{% endblock %}